.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 30px;
    height: 30px;
  }
  
  .beta-label {
    font-size: 1em;
    margin-left: 5px;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .header-icon, .user-icon {
    width: 25px;
    height: 25px;
    margin-left: 15px;
  }
  
  .user-icon {
    border-radius: 50%;
  }
  